{% extends "base.html" %}
{% block title %}Edit Profile{% endblock title %}
{% block body %}
<style>
  @import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
font-family: 'Poppins', sans-serif;
background: #fafafa;
}

p {
font-family: 'Poppins', sans-serif;
font-size: 1.1em;
font-weight: 300;
line-height: 1.7em;
color: #999;
}

a,
a:hover,
a:focus {
color: inherit;
text-decoration: none;
transition: all 0.3s;
}
</style>
<br>
<br>
<div class="container">
  <div class="card">
    <!-- <div class="card-header"> -->
      <h3 style="text-align: center;" class="bg-primary">Edit Your Details</h3>
    <!-- </div> -->
      <div class="card-body">
  <form method="POST">
      {{edit.as_p}}
      {% csrf_token %}
      <button class="btn btn-primary">Submit</button>
      <a href="{% url 'password_reset' %}" class="link-danger" >Reset password</a>
  </form>
</div>
</div>
</div>

{% endblock body %}